<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"	
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.1.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd">
	
  	<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="org.h2.Driver"/>
		<property name="url" value="jdbc:h2:tcp://localhost/~/test"/>		
		<property name="username" value="sa"/>
		<property name="password" value=""/>
	</bean> <!-- 어떻게 한개만 보는지 잘모르겠음 / persistent.xml도 필요한데 실제로는 얘만씀 -->

	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"> 
		<property name="dataSource" ref="dataSource"/> 
		 <property name="jpaVendorAdapter"> 
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"> 
				<property name="generateDdl" value="false" /> 
			</bean> 
		</property> 
	</bean>
	
	<jpa:repositories base-package="repository" /> <!-- 해당 패키지스캔하여 @Repository들을 bean으로 등록 -->

	<!-- 단일 팩토리를 유지하면서, 스레드별로 em을 제공하는 역할 -->
 	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager"> 
		<property name="entityManagerFactory" ref="entityManagerFactory" /> 
	</bean>

<!-- 	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"> spring-mybatis의 핵심
		<property name="dataSource" ref="dataSource"/>
		<property name="mapperLocations" value="classpath:mappers/**/*Dao.xml"></property> mybatis도 spring처럼 프레임워크이므로 applicationContext같은게 필요함 그게 이거
	</bean> -->
	
<!-- 	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate" destroy-method="clearCache"> DAO인터페이스의 구현하기위해서 필요, db와 직접연결 및 close도 담당
		<constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory"></constructor-arg> mybatis mapper 주입을 사용하므로 직접 sqlSession을 사용하는 dao를 만들 필요가없으므로 삭제 
	</bean> -->

    <!-- mybatis configuration -->
<!--     <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"> sqlSession을 사용하는 dao를 만들필요가없이 다른 빈에서 직접주입. 하나하나 다 주입해줄수가없으므로 경로를 주고 scan함
        <property name="basePackage" value="dao"/> dao인터페이스의 구현체를 만들지않아도됨. 알아서 mybatis가 매핑시켜줌. 다만 실제구현체가있다면 에러(2개이상이니까?)
    </bean>	 -->
		
</beans>
	